@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 212 89% 17%;
    --card: 0 0% 100%;
    --card-foreground: 212 89% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 212 89% 17%;
    --primary: 39 99% 67%;
    --primary-foreground: 212 89% 17%;
    --secondary: 288 71% 66%;
    --secondary-foreground: 0 0% 100%;
    --muted: 39 99% 67% / 0.1;
    --muted-foreground: 212 89% 17% / 0.7;
    --accent: 288 71% 66% / 0.1;
    --accent-foreground: 212 89% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 39 99% 67% / 0.2;
    --input: 39 99% 67% / 0.2;
    --ring: 39 99% 67%;
    --radius: 0.75rem;
    --shadow-background: 42.1, 100%, 50%, 0.51;
    --shadow-background-light: 42.1, 100%, 50%, 0.2;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-montserrat;
  }
}